header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;  /* Растягиваем хедер на всю ширину */
  height: 100px;
  z-index: 100; /* Чтобы хедер был выше остальных элементов */
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-top: 20px; /* Можно уменьшить, если хедер слишком высокий */
  padding-bottom: 20px; /* Добавляем немного, чтобы не прижималось к контенту */
  
  
  /* Оставляем отступы слева и справа */
  padding-left: max(24px, calc(50% - 640px));
  padding-right: max(24px, calc(50% - 640px));
  box-sizing: border-box;
}

/*  ХЭДЕР ЛЕВО */
/* _______________________________________________________________________________________________ */
.header-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: max(75px);
  gap: auto;
}

.nav_header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}

.nav_header ul li a {
  position: relative;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #6C6C6C;
  padding-bottom: 5px;
  font-size: 18px;
  display: inline-block;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform-origin: center;
}

.nav_header ul li a.active {
  color: white;
  transform: scale(1.1);
}

.nav_header ul li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0%;
  height: 3px;
  background-color: #FF003C;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.nav_header ul li a.active::after {
  width: 100%;
  left: 0;
}

/*  ХЭДЕР ПРАВО */
/* _______________________________________________________________________________________________ */

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: max(25px);
  gap: auto;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  border: 1px solid white;
  border-radius: 25px;
  width: 275px;
  padding: 0 16px;
}

.search-container .dropdown-btn {
  display: flex;
  flex-direction: row;
} 

.search-container input {
  background: none;
  border: none;
  height: 100%;
  width: 100%;
  color: white;
}

.search_zalupa {
  cursor: pointer;
}

.dropdown-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.dropdown-search, .dropdown-language {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #1a1a1a;
  color: white;
  border-radius: 5px;
  padding: 5px 0;
  width: 120px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-search a, .dropdown-language a{
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.dropdown-search a:hover {
  background-color: #3a3a3a;
}

.dropdown-language a:hover {
  background-color: #3a3a3a;
}


.language_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  width: 90px;
  height: 32px;
  gap: 8px;
  position: relative;
}

.language_header .dropdown-btn {
  color: white;
  font-size: 14px;
}