body {
  background: #0a0e16; 
  color: white;
}

.swiper {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  height: 560px;
  padding: 0 100px;
}

.swiper-slide {
  width: 100%;
  
  border-radius: 10px; 
}