{% extends 'template.html' %}

{% load static %}

{% block title %}
  Games
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/games.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
{% endblock %}

{% block content %}
  <div class="game-container">
    <div class="swiper">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-wrapper">
        {% for game in games %}
          <div class="swiper-slide" style="background: url('{{ game.background_game.url }}');background-size: cover;
          background-repeat: no-repeat; background-position: center;">
            <div class="game-info">
              <img src="{{ game.logotype_game.url }}" alt="">
              <div class="mini-info">
                <div class="custom-game-ratings">
                  <p style="color: {{ game.rating_color }};">8,8</p>
                  <p>{{ game.release_date }},</p>
                  <p>RPG ROUND8 Studio, Neowiz  18+</p>
                </div>
                <div class="custom-game-description">
                  <p class="game-description">{{ game.description }}</p>
                </div>
              </div>

              <div class="btns-game">
                <button class="btn-star">
                  <img src="{% static 'imgs/icons/star_btn.svg' %}" alt="" class="icon-star">
                  <img src="{% static 'imgs/icons/close_btn.svg' %}" alt="" class="icon-close hidden">
                </button>
                <button class="btn-favourite">
                  <img src="{% static 'imgs/icons/fav_btn.svg' %}" alt="">
                </button>
                <button class="btn-played">
                  Played
                  <img src="{% static 'imgs/icons/watch.svg' %}" alt="">
                </button>
                <button class="btn-learn" style="background-color: {{ game.btn_color }};">Learn More</button>


                <!-- Блок с оценками (изначально скрыт) -->
                <div class="rating-container">
                  <div class="rating-options">
                    <button class="btn-trash">
                      <img class="star-rating" src="{% static 'imgs/icons/trash_btn.svg' %}" alt="">
                    </button>
                    <img src="{% static 'imgs/icons/gray_star.svg' %}" alt="">
                    
                      {% for i in "123456789" %}
                          <button class="rating-btn">{{ i }}</button>
                      {% endfor %}
                      <button class="rating-btn">10</button>
                  </div>
                </div>
              </div>

              

            </div>
            
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
  <script src="{% static 'scripts/games.js' %}"></script>

{% endblock %}