{% extends 'template.html' %}

{% load static %}

{% block title %}
  Profile
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
  <div class="profile-container">

    <div class="profile">
      {% if profile.header %}
        <div class="profile-header" style="background: url('{{profile.header.url}}');"></div>
      {% else %}
        <div class="profile-header"></div>
      {% endif %}

      {% if profile.avatar %}
        <div class="profile-photo" style="background: url('{{profile.avatar.url}}');"></div>
      {% else %}
        <div class="profile-photo"></div>
      {% endif %}
      <div class="profile-settings">
        <div class="counter-mgb">
          <span class="movies">9 movies</span>
          <span class="games">13 games</span>
          <span class="books">9 books</span>
        </div>
        <button class="edit-profile" id="editProfileBtn">Edit profile</button>
        <button class="share-profile">
          <img src="{% static 'imgs/icons/share.svg' %}" alt="language icon">
        </button>

      </div>
      <div class="profile-info">
        <h1>{{ profile.username }}</h1>
        <p>{{ profile.bio }}</p>
        <div class="joining-date">
          <img src="{% static 'imgs/icons/calendar.svg' %}" alt="language icon">
          <p>Joined {{ profile.date_joined|date:"F d, Y" }}</p>
        </div>
        <div class="follow">
          <p><span>12</span> Following</p>
          <p><span>126</span> Followers</p>
        </div>
        
      </div>
      
    </div>

    <div id="editProfile" class="hidden">
      <div class="change-modal">
        <button class="close-modal">
            <img src="{% static 'imgs/icons/krestik.svg' %}" alt="Close">
        </button>
        <h1>Edit profile</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="header-avatar-profile">
              <!-- Шапка профиля -->
              <div class="profile-header-block">
                {% if profile.header %}
                    <div id="headerPreview" class="profile-header-change" style="background-image: url('{{ profile.header.url }}');">
                            <!-- Кнопка выбора фото -->
                      <button class="btn-change-header">
                        <input type="file" name="header" id="headerUpload">
                        <div class="btn-icon"></div>
                      </button>
                    </div>
                {% else %}
                    <div id="headerPreview" class="profile-header-change">
                      <!-- Кнопка выбора фото -->
                      <button class="btn-change-header">
                        <input type="file" name="header" id="headerUpload">
                        <div class="btn-icon"></div>
                      </button>
                    </div>
                {% endif %}

                
              </div>
              

              <!-- Аватар -->
              <div class="profile-avatar">
                {% if profile.avatar %}
                  <div id="avatarPreview" class="profile-avatar-change" style="background: url('{{profile.avatar.url}}');">
                    <!-- Кнопка выбора фото -->
                    <button class="btn-change-avatar">
                      <input type="file" name="avatar" id="avatarUpload">
                      <div class="btn-icon"></div>
                    </button>
                  </div>
                {% else %}
                  <div id="avatarPreview" class="profile-avatar-change">
                      <!-- Кнопка выбора фото -->
                    <button class="btn-change-avatar">
                      <input type="file" name="avatar" id="avatarUpload">
                      <div class="btn-icon"></div>
                    </button>
                  </div>
                {% endif %}

              </div>
            </div>

            <div class="profile-info-change">
              <!-- Поле для изменения ника -->
              <div class="profile-username">
                <input placeholder="Username" type="text" name="username" value="{{ profile.username }}">
              </div>

              <!-- Описание профиля -->
              <div class="profile-bio">
                  <textarea placeholder="bio" name="bio">{{ profile.bio }}</textarea>
              </div>
            </div>
            <div class="save-changes">
              <button class="btn-save-changes" type="submit">Save</button>
            </div>
        </form>
      </div>
    </div>


    <div class="tabs">
      <button class="active" onclick="showTab('reviews')">Reviews</button>
      <button onclick="showTab('overview')">Overview</button>
      <button onclick="showTab('custom-lists')">Custom Lists</button>
      <button onclick="showTab('challenges')">Challenges</button>
    </div>
  
    <!-- Reviews -->
    <div id="reviews" class="tab-content active">
      <div class="choose-mgb">
          <button class="active" onclick="showSubTab('games')">Games</button>
          <button onclick="showSubTab('movies')">Movies</button>
          <button onclick="showSubTab('books')">Books</button>
      </div>
  
      <div id="games" class="sub-tab-content active">
        <div class="filters-buttons">
          <div class="btns-count">
            <p>20 Games</p>
            <button class="active">All</button>
            <button onclick="showSubSubTab('#')">Played</button>
            <button onclick="showSubSubTab('#')">Playing</button>
            <button onclick="showSubSubTab('#')">Dropped</button>
            <button onclick="showSubSubTab('#')">Wishlist</button>
          </div>
          <button class="add-mgb">+</button>
        </div>
      </div>

      <div id="movies" class="sub-tab-content">
        <div class="filters-buttons">
          <div class="btns-count">
            <p>20 Games</p>
            <button class="active">All</button>
            <button onclick="showSubSubTab('#')">Played</button>
            <button onclick="showSubSubTab('#')">Playing</button>
            <button onclick="showSubSubTab('#')">Dropped</button>
            <button onclick="showSubSubTab('#')">Wishlist</button>
          </div>
          <button class="add-mgb">+</button>
        </div>

        
      </div>

      <div id="books" class="sub-tab-content">
        <div class="filters-buttons">
          <div class="btns-count">
            <p>20 Games</p>
            <button class="active">All</button>
            <button onclick="showSubSubTab('#')">Played</button>
            <button onclick="showSubSubTab('#')">Playing</button>
            <button onclick="showSubSubTab('#')">Dropped</button>
            <button onclick="showSubSubTab('#')">Wishlist</button>
          </div>
          <button class="add-mgb">+</button>
        </div>

        
      </div>

    </div>
    
    <!-- Overview -->
    <div id="overview" class="tab-content">
      <div class="overview-container">
        <a href="#">
          <div class="overview-movies">
            <h1>Movies: 9</h1>
          </div>
        </a>
        <a href="#">
          <div class="overview-games">
            <h1>Games: 13</h1>
          </div>
        </a>
        <a href="#">
          <div class="overview-books">
            <h1>Books: 9</h1>
          </div>
        </a>
      </div>
    </div>
    
    <!-- Custom Lists -->
    <div id="custom-lists" class="tab-content">
      <h2>Custom Lists</h2>
      <p>Контент вкладки Custom Lists</p>
    </div>
    
    <!-- Challenges -->
    <div id="challenges" class="tab-content">
      <h2>Challenges</h2>
      <p>Контент вкладки Challenges</p>
    </div>

  </div>
  <script src="{% static 'scripts/profile.js' %}"></script>
{% endblock %}